:root {
    --lav: #9262b969;
    --red: #ff0000;
    --blue: #a2b7ee;
    --grey: #f0EAD6;
    --peach: #f5c288;
}

body {
    background-color: var(--grey);
}

nav ul {
    min-width: 50px;
    padding: 10px 100px;
    margin: 0 auto;
    list-style: none;
}

nav li {
    margin: 20px;
    display: inline-block;
}

nav a {
    color: var(--grey);
    font-weight: 500;
    text-decoration: underline;
}

/* nav a:hover {
    color: var(--red);
} */

header {
    background-color: var(--lav);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    max-width: 95%;
    border: dashed var(--blue);
}

h1 {
    color: var(--lav);
    background-color: var(--grey);
    text-align: center;
    border-radius: 25px;
    margin: 20px;
}

h2 {
    color: var(--blue);
    background-color: var(--grey);
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    margin: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card1 .card-head {
    font-size: large;
}

.card1 {
    border-radius: 25px;
    margin: 20px;
    background-color: var(--lav);
    text-align: center;
    flex: 1 0 100%;
    border: solid;
    max-width: 95%;
}

.card2 .card-head {
    font-size: large;
}

.card2 {
    border-radius: 25px;
    margin: 20px auto;
    flex: 1 0 45%;
    text-align: center;
    /* position: relative; */
    justify-content: center;
    background-color: var(--blue);
    padding: 10px;
    max-width: 45%;
    border: dashed;
}

/* .contactinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.contact {
    border-radius: 25px;
    margin: 20px;
    flex: 1 0 48%;
    text-align: center;
    position: relative;
    background-color: var(--peach);
    padding: 10px;
    max-width: 45%;
    border: dashed white;
}

.container {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
}

/* .for .type {
    display: flex;
    flex-wrap: ;
} */

footer {
    background-color: var(--lav);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    margin: 20px 20px 0px 20px;
    border: dashed var(--blue);
}

@media screen and (max-width: 810px) {
    .card1 {
        min-width: 90%;
        max-width: 90%;
        margin: 20px;
    }
    .card2 {
        min-width: 90%;
        max-width: 90%;
        margin: 20px;
    }
    .contact {
        min-width: 90%;
        max-width: 90%;
        margin: 20px;
    }
}

@media screen and (max-width: 370px) {
    .card1 {
        min-width: 90%;
        max-width: 90%;
        margin: 20px;
    }
    .card2 {
        min-width: 90%;
        max-width: 90%;
        margin: 20px;
    }
    .contact {
        min-width: 90%;
        max-width: 90%;
        margin: 20px;
    }
}