:root {
    --lav: #9262b969;
    --black: #000000;
    --red: #ff0000;
    --pink: #000000;
    --blue: #a2b7ee;
    --brightblue: #4508ff;
    --white: #ffffff4b;
    --grey: #f0EAD6;
}

body {
    background-color: var(--grey);
}

nav ul {
    min-width: 50px;
    padding: 10px 100px;
    margin: 0 auto;
    list-style: none;
}

nav li {
    background-color: var(--blue);
    margin: 5px;
    display: inline-block;
}

nav a {
    color: var(--white);
    font-weight: 500;
    text-decoration: underline;
}

nav a:hover {
    color: var(--red);
}

header {
    background-color: var(--lav);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}

h1 {
    color: var(--lav);
    background-color: var(--grey);
    text-align: center;
    border-radius: 25px;
}

h2 {
    color: var(--blue);
    background-color: var(--grey);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card1 {
    border-radius: 25px;
    margin: 20px auto;
    background-color: var(--lav);
    text-align: center;
    flex: 1 0 100%;
    border: solid;
}

.card2 {
    border-radius: 25px;
    margin: 10px;
    flex: 1 0 45%;
    text-align: center;
    position: relative;
    justify-content: center;
    background-color: var(--blue);
    padding: 10px;
    max-width: 48%;
    border: dashed;
}

.contactinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact {
    border-radius: 25px;
    margin: 10px;
    flex: 1 0 48%;
    text-align: center;
    position: relative;
    background-color: var(--blue);
    padding: 10px;
    max-width: 45%;
    border: dashed;
}

.container {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
}

/*@media screen {
    .card2 {
        flex: 0 0 50%;
        max-width: 50%;}
}

@media screen {
    .card3 {
        flex: 0 0 50%;
        max-width: 50%;}
}*/

@media screen and (min-width: 992px) {
    .card2 {
    width: 50%;
}

    /* .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
} */
}

footer {
    background-color: var(--lav);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 25px 25px 0px 0px;
    margin: 10px;
}